{{define "AssetMixHeaders"}}
    <th>{{if .}}{{.}} {{end}}Fossil Wholesale</th>
    <th>{{if .}}{{.}} {{end}}Fossil Capacity</th>
    <th>{{if .}}{{.}} {{end}}Battery Arbitrage</th>
    <th>{{if .}}{{.}} {{end}}Battery Capacity</th>
    <th>{{if .}}{{.}} {{end}}Renewable</th>
{{end}}

{{define "AssetMixCells"}}
    <td>{{.FossilsWholesale}}</td>
    <td>{{.FossilsCapacity}}</td>
    <td>{{.BatteriesArbitrage}}</td>
    <td>{{.BatteriesCapacity}}</td>
    <td>{{.Renewables}}</td>
{{end}}

{{define "ActionInput"}}
<input type="radio" id="action_{{.GlobalIndex}}" name="action" value="{{.GlobalIndex}}">
<label for="action_{{.GlobalIndex}}">{{.Type.String}}{{if ne .Type 5}} {{.AssetType.String}} ({{.Cost}}){{end}}</label><br>
{{end}}

{{define "PlayerHeaders"}}
    <th>Name</th>
    <th>Status</th>
    <th>Money</th>
    {{template "AssetMixHeaders"}}
    <th>Actions</th>
{{end}}

{{define "PlayerCells"}}
    <td>Player {{.Index}}</td>
    <td>{{.Status.String}}{{if eq .Status 1}} ({{.Reason.String}}){{end}}</td>
    <td>{{.Money}}</td>
    {{template "AssetMixCells" .AssetMix }}
    <td><ul>{{range .Actions}}<li>{{template "ActionInput" .}}</li>{{end}}</ul></td>
{{end}}

{{define "Game"}}
<h2>Game</h2>
<table>
<tr>
    <th>Status</th>
    <th>Round</th>
    <th>Carbon Emissions</th>
    <th>Last Grid Stability</th>
    <th>Last Price Volatility</th>
    {{template "AssetMixHeaders" "Last"}}
</tr>
<tr>
    <td>{{.Status.String}}{{if eq .Status 1}} ({{.Reason.String}}){{end}}</td>
    <td>{{.Round}}</td>
    <td>{{.CarbonEmissions}}</td>
    <td>{{.LastRoundGridStability}}</td>
    <td>{{.LastRoundPriceVolatility}}</td>
    {{template "AssetMixCells" .LastRoundAssetMix}}
</tr>
</table>

<h3>Takeover pool</h3>
<table>
<tr>{{template "AssetMixHeaders"}}</tr>
<tr>{{template "AssetMixCells" .TakeoverPool}}</tr>
</table>
{{end}}


<body>
<div>
<h1>JouleQuest</h1>
{{template "Game" .}}

<h2>Players</h2>
<table>
    <tr>{{template "PlayerHeaders"}}</tr>
    {{range .Players}}<tr>{{template "PlayerCells" .}}</tr>{{end}}
</table>
</div>
</body>